.font-lobster {
    font-family: 'Lobster', cursive;
}

.font-allura {
    font-family: 'Allura', cursive;
}

.font-lucky {
    font-family: 'Luckiest Guy', cursive;
}
.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.icon-block {
    padding: 20px;
}

.border-round {
    border-radius: 1rem;
}

.pad {
    padding-top: 1rem;
    padding-bottom: 1rem;
}